<table class="list files">
<thead>
  <tr>
    <!-- Admin Scope -->
    <% if(User.current.admin?)%>
      <th style="width:30%; text-align:left">Title</th>
      <th style="width:50%; text-align:left">Description</th>
      <th style="width:10%; text-align:left">Status</th>
      <th style="width:5%; text-align:left"></th>
      <th style="width:5%; text-alighn:left"></th>
    <% else %>
      <!-- Anonymous and Registrant Scope -->
      <th style="width:35%; text-align:left">Title</th>
      <th style="width:65%; text-align:left">Description</th>
    <% end %>
  </tr>
</thead>
<tbody>
  <% if !@course_trackers.nil? %>
    <% @course_trackers.each do |course_tracker| %>
      <tr>
        <% if(User.current.admin?)%>
          <!-- Admin Scope -->
          <td style="width:30%"><%= link_to "#{course_tracker.title}", course_tracker_url(course_tracker.id) %></a></td>
          <td style="width:50%"><%=h course_tracker.description %></td>
          <td style="width:10%"><%=h course_tracker.status %></td>
          <td style="width:5%"><%= link_to 'Edit', edit_course_tracker_url(course_tracker.id), :class => 'icon icon-edit' %></td>
          <td style="width:5%"><%= link_to 'Delete', course_tracker_url(:id => course_tracker.id), 
            :class => 'icon icon-del', 
            :confirm => "All records will be destroyed.  Are you sure you want to delete the 
            \"#{course_tracker.title}\" course tracker?", 
            :method => :delete %></td>
        <% elsif course_tracker.status.downcase == "active" %>
          <!-- Anonymous and Registrant Scope -->
          <td style="width:35%"><%= link_to "#{course_tracker.title}", course_tracker_url(course_tracker.id) %></a></td>
          <td style="width:65%"><%=h course_tracker.description %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</tbody>
</table>
