<% if @course_applications.nil? || @course_applications.empty? %>
  no applications yet!
<% else %>
	<table class="list">
	<thead>
	  <tr>
	    <% if(User.current.admin?)%>
	      <!-- Admin Role -->
		  <% if box %>
		    <th style="width:10%; text-align:left;">Zip</th>
		  <% end %>
		  <th style="width:10%; text-align:left;">Course</th>
	      <%= sort_header_tag('last_name', :caption => 'Registrant') %>
		  <%= sort_header_tag('created_at', :caption => 'Date Submitted') %>
		  <%= sort_header_tag('created_at', :caption => 'Application Deadline') %>
		  <%= sort_header_tag('review_status', :caption => 'Review Status') %>
		  <%= sort_header_tag('acceptance_status', :caption => 'Acceptance Status') %>
		  <%= sort_header_tag('user_id', :caption => 'Assigned TF') %>
		  <th style="width:5%; text-align:left;">Admin Notes</th>
		  <th style="width:5%; text-align:left;"></th>
		  <th style="width:5%; text-align:left;"></th>
		  <th style="width:5%; text-align:left;"></th>
		<% elsif @course_applications[0].course.is_manager?%>
		  <!-- Manager Role -->
		  <% if box %>
		    <th style="width:10%; text-align:left;">Zip</th>
		  <% end %>
		  <th style="width:10%; text-align:left;">Course</th>
	      <%= sort_header_tag('last_name', :caption => 'Registrant') %>
		  <%= sort_header_tag('created_at', :caption => 'Date Submitted') %>
		  <%= sort_header_tag('created_at', :caption => 'Application Deadline') %>
		  <%= sort_header_tag('review_status', :caption => 'Review Status') %>
		  <%= sort_header_tag('acceptance_status', :caption => 'Acceptance Status') %>
		  <%= sort_header_tag('user_id', :caption => 'Assigned TF') %>
		  <th style="width:5%; text-align:left;">Admin Notes</th>
		  <th style="width:5%; text-align:left;"></th>
		  <th style="width:5%; text-align:left;"></th>
	    <% elsif (User.current.logged?)%>
	      <!-- Registrant Role -->
		  <th style="width:10%; text-align:left;">Course</th>
	      <th style="width:10%; text-align:left;">Application Deadline</th>
		  <th style="width:5%; text-align:left;"></th>
		  <th style="width:5%; text-align:left;"></th>
		  <th style="width:5%; text-align:left;"></th>
	    <% else %>
	      <!-- Anonymous Role -->
	      <!-- No view for Anonymous -->

	    <% end %> 
	  </tr>
	</thead>
	<tbody>
	  <% if (User.current.admin? || @course_applications[0].course.is_manager?)%>	
	    <% if box %>
          <%= check_box_tag('check_all', 'check_all', false,  :onClick => "$$('#registrant_form input.check').each(function(box){box.checked=($('check_all').checked)?true:false});")%> Select All <br /><br />
	    <% end %>
	  <% end %>
  	  <% @course_applications.each do |ca| %>
        <tr>
        <% if(User.current.admin?)%>
          <!-- Admin Role -->
          <% if box %>
		    <td style="width:10%"><%= check_box_tag("registrants_to_zip[]", ca.id, false, :class => 'check') %></td>
		  <% end %>
		  <td style="width:10%"><%= link_to "#{ca.course.title}", course_url(ca.course.id, :course_tracker_id => ca.course_tracker_id) %></td>
          <td style="width:10%"><%= link_to "#{ca.registrant.first_name} #{ca.registrant.last_name}", registrant_url(ca.registrant.id, :course_tracker_id => ca.course_tracker_id) %></td>
          <td style="width:10%"><%= ca.created_at.month %>/<%= ca.created_at.day %>/<%= ca.created_at.year %> <%= ca.created_at.strftime("%I:%M %p") %></td>
		  <td style="width:10%"><%= ca.course.submission_date.month %>/<%= ca.course.submission_date.day %>/<%= ca.course.submission_date.year %> <%= ca.course.submission_date.strftime("%I:%M %p") %></td>
		  <td style="width:10%"><%= ca.review_status %></td>
		  <td style="width:10%"><%= ca.acceptance_status %></td>
		  <td style="width:10%"><%= ca.find_tf %></td>
 		  <td style="width:5%"><%= ca.notes.nil? || ca.notes.blank? ? 'No' : 'Yes' %></td>
		  <td style="width:5%"><%= link_to 'View', course_application_url(ca.id, :course_tracker_id => ca.course_tracker_id), :class => 'icon icon-view' %></td>
		  <td style="width:5%"><%= link_to 'Add Notes', edit_course_application_url(ca.id, :course_tracker_id => ca.course_tracker_id), :class => 'icon icon-edit' %></td>
          <td style="width:5%"><%= link_to 'Delete', course_application_url(:id => ca.id), 
            :confirm => "Are you sure you want to delete #{ca.registrant.first_name} #{ca.registrant.last_name}\'s record?", 
            :method => :delete,
            :class => 'icon icon-del' %>
          </td>
		<% elsif ca.course.is_manager? %>
			<!-- Manager Role -->
	          <% if box %>
			    <td style="width:10%"><%= check_box_tag("registrants_to_zip[]", ca.id, false, :class => 'check') %></td>
			  <% end %>
			  <td style="width:10%"><%= link_to "#{ca.course.title}", course_url(ca.course.id, :course_tracker_id => ca.course_tracker_id) %></td>
	          <td style="width:10%"><%= link_to "#{ca.registrant.first_name} #{ca.registrant.last_name}", registrant_url(ca.registrant.id, :course_tracker_id => ca.course_tracker_id) %></td>
	          <td style="width:10%"><%= ca.created_at.month %>/<%= ca.created_at.day %>/<%= ca.created_at.year %> <%= ca.created_at.strftime("%I:%M %p") %></td>
			  <td style="width:10%"><%= ca.course.submission_date.month %>/<%= ca.course.submission_date.day %>/<%= ca.course.submission_date.year %> <%= ca.course.submission_date.strftime("%I:%M %p") %></td>
			  <td style="width:10%"><%= ca.review_status %></td>
			  <td style="width:10%"><%= ca.acceptance_status %></td>
			  <td style="width:10%"><%= ca.find_tf %></td>
	 		  <td style="width:5%"><%= ca.notes.nil? || ca.notes.blank? ? 'No' : 'Yes' %></td>
			  <td style="width:5%"><%= link_to 'View', course_application_url(ca.id, :course_tracker_id => ca.course_tracker_id), :class => 'icon icon-view' %></td>
			  <td style="width:5%"><%= link_to 'Add Notes', edit_course_application_url(ca.id, :course_tracker_id => ca.course_tracker_id), :class => 'icon icon-edit' %></td>
        <% elsif (User.current.logged?)%>
          <!-- Registrant Role -->
		  <td style="width:10%"><%= link_to "#{ca.course.title}", course_url(ca.course.id, :course_tracker_id => ca.course_tracker_id) %></td>
		  <td style="width:10%"><%= ca.course.display_deadline %></td>
		  <% if ca.course.submission_date > DateTime.now %>
		    <td style="width:5%"><%= link_to 'Edit Application', edit_course_application_url(ca.id, :course_tracker_id => ca.course_tracker_id), :class => 'icon icon-edit' %></td>
            <td style="width:5%"><%= link_to 'Delete', course_application_url(:id => ca.id), 
              :confirm => "Are you sure you want to delete #{ca.registrant.first_name} #{ca.registrant.last_name}\'s record?", 
              :method => :delete,
              :class => 'icon icon-del' %>
		  <% end %>

        <% else %>
          <!-- Anonymous Role -->
          <!-- No view for Anonymous -->
		  If you are not logged in, you can not view any applications you have previously submitted.
        <% end %> 
        </tr>
      <% end %>
    <% end %>
</tbody>
</table>

