<h2>Course Application Referrals</h2>

<%= render :partial => "common/tabs" %>

<p>Please provide us the names and contact infromation for references who will be asked to submit letters of recommendation on your behalf.</p>

<p>When you click the below submit button, an email will be sent directly to your reference from our system with a unique link at which a recommendation letter may be uploaded.  The link is tied directly to your account and application.</p>

<p>When a letter is uploaded, both you and the reference will receive a letter confirming its receipt.</p>

<h3>Reference <%= @course_application.course_application_referrals.length %> of <%= @course_application.course.referrer_count.to_i %></h3>
    <span class="required">*</span> Required Fields
	<% form_for(@course_application_referral, :html => {:multipart => true}) do |car| %>
	  <%= car.error_messages %>
	  <%= car.hidden_field(:course_application_id, :value => @course_application.id ) %>
	  		<p>
	  		<%= car.label(:first_name, "First Name") %><span class="required">*</span><br />
	  		<%= car.text_field(:first_name) %>
	  		</p>
			<p>
			<%= car.label(:last_name, "Last Name") %><span class="required">*</span><br />
	    	<%= car.text_field(:last_name) %>
			</p>
			<p>
		    <%= car.label(:email, "Email") %><span class="required">*</span><br />
		    <%= car.text_field(:email) %>
	  		</p>
		    <p>
		    <%= car.label(:phone, "Phone") %><br />
		    <%= car.text_field(:phone) %>
		    </p>

	  <p>
	    <%= car.submit('Submit') %>
	  </p>
	<% end %>