<h2>Course Application Referral</h2>

<%= render :partial => "mutual/tabs" %>
<span class="required">*</span> Required Fields
<% form_for(@course_application_referral, :html => {:multipart => true}) do |car| %>
  <%= car.error_messages %>
  <%= car.hidden_field(:course_application_id, :value => @course_application.id ) %>
  	<p>
	<%= car.label(:first_name, "First Name") %><span class="required">*</span><br />
	<%= car.text_field(:first_name) %>
	</p>
	<p>
	<%= car.label(:last_name, "Last Name") %><span class="required">*</span><br />
	<%= car.text_field(:last_name) %>
	</p>
	<p>
  	<%= car.label(:email, "Email") %><span class="required">*</span><br />
  	<%= car.text_field(:email) %>
	</p>
  	<p>
  	<%= car.label(:phone, "Phone") %><br />
  	<%= car.text_field(:phone) %>
  	</p>
	<p>
	<%= car.label(:notes, "Notes") %><br />
	<%= car.text_field(:notes) %>
	</p>
	<br />
	<h3>Course Application Referral Attachments</h3>
	<div class="box">
		<p><label><%=l(:label_attachment_plural)%></label><span class="required">*</span><%= render :partial => 'attachments/form' %></p>
	</div>

  <p>
    <%= car.submit('Submit') %>
  </p>
<% end %>

